@media (min-width: 992px) {

  /* desktop breakpoint */
  #root,
  .container,
  .container-fluid {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body {
    overflow-x: hidden;
    min-width: 1024px;
  }
}